#imglogo /*index*/ {
  padding-top: 0px;
  height: 130px;
  padding-right: 200px;  
}


/* Aggiungi uno sfondo bianco solo al link "Accedi" */
a.whitelink[href="accedi.html"] {
background-color: white;
padding: 5px 10px; /* Regola il padding per una migliore formattazione */
border-radius: 5px; /* Aggiungi un bordo arrotondato se desiderato */
color: #212221; /* Cambia il colore del testo per una migliore leggibilità */
text-decoration: none; /* Rimuovi sottolineatura */

}

/* Cambia lo stile al passaggio del mouse */
a.whitelink[href="accedi.html"]:hover {
background-color: #e19a2b; /* Cambia il colore di sfondo al passaggio del mouse */
color: white; /* Cambia il colore del testo al passaggio del mouse */
}

/* Reset di alcuni stili di default */
* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stile di base per il corpo della pagina */
body {
  background-color: #212221;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

/* Header */
header {
  background-color: #212221;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


/* Menu di navigazione */
nav ul {
  list-style: none;
  display: flex;
  
}

nav ul li {
  margin-right: 20px;
  margin-top: 45px;
  margin-left: 30px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #e19a2b;
  transition: color 0.3s;
}

nav a:hover {
  color: #fff;
}

/* Titolo principale */
h1 {
  font-size: 32px;
  color: #e19a2b;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px 0;
}

/* Stile per dispositivi mobili con larghezza massima di 768px */
@media screen and (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }

  #imglogo {
      max-width: 100%;
  }

  nav {
      margin-top: 20px;
  }

  nav ul {
      flex-direction: column;
  }

  nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .banner {
      margin-left: 0;
  }

  h1 {
      font-size: 24px;
      padding: 10px 0;
  }
}


body {
background-color: #212221;
}

.container {
  max-width: 1600px !important;
}
.bd-example {
padding-top: 0px;
padding-right: 60px;
padding-left: 60px;
padding-bottom: 50px;
background-color: #212221;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
}

.carousel-caption {
background-color: #212221;
}

.col-lg-4 {
text-align: center;
color: white;
padding-top: 50px;
padding-left: 25px;
padding-right: 25px;
}

.differentfont {
font-family: 'Crimson Text', serif;
font-weight: 400;
font-size: large;
color: white;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-weight: 500; 
font-size: x-large;
color: white;
}

.h2index {
margin-top: 20px;
}

.fa-solid {
padding-bottom: 0px;
color: white;
}

.btn {
background-color: #e19a2b;
color: #212221;
margin-top: 25px;
}

h3 {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
color: white;
font-size: x-large;
}

.h3index {
margin-top: 50px;
text-align: center;
}

footer {
margin-top: 80px;
text-align: center;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
color: white;
font-size: small;
}



.h2contatti /*contatti*/ { 
margin-top: 50px;
margin-bottom:30px;
}

.h2alignement {
margin-left: 15px;
}

.card-text {
font-family: 'Crimson Text', serif;
font-weight: 400;
color: #212221;
font-size: large;
}

.textform {
font-family: 'Crimson Text', serif;
font-weight: 400;
color: white;
font-size: large;
}

label {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
color: white;
font-size: large;
}

.contactsbutton {
margin-left: 15px;
background-color: #e19a2b;
color: #212221;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: large;
}



.bodyaccedi /*accedi*/ {
-ms-flex-align: center;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
}

.form-signin {
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}

.form-signin .checkbox {
font-weight: 400;
}

.form-signin .form-control {
position: relative;
box-sizing: border-box;
height: auto;
padding: 10px;
font-size: 16px;
}

.form-signin .form-control:focus {
z-index: 2;
}

.form-signin input[type="email"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.signinbutton {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
background-color: #e19a2b;
color: #212221;
}

.signintext {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
color: white;
font-size: small;
margin-top: 25px;
}

.yellowlink {
color: #e19a2b;
}



.sectionricerca /*ricerca*/ {
text-align: center;
}

.h2ricerca {
margin-bottom: 40px;
margin-top: 50px;
text-align: center;
}

.form-size {
font-size: 15px;
}  

.album {
margin-top: 40px;
}  
  
.card-text-search {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
color: #212221;
font-size: large;
}  

.sectionplaylist {
text-align: center;
padding-top: 70px;
}     

#playlist {
margin-top: 40px;
margin-bottom: 55px;
}

.card-deck {
margin-left: 20px;
margin-right: 20px;
padding-top: 40px;
}

.h3ricerca {
font-size: large;
text-align: center;
}  

.card-body-inspired {
background-color: #212221;
}    

.btn-avanzata {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: medium;
color: #212221; 
margin-left: 20px;
}

.dropdown-menu {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: small;
color: #212221; 
}

.form-group {
padding-top: 70px;
}

.form-playlist {
margin-bottom: 40px;
}

.form-ricerca {
text-align: center;
}

.underline-ricerca {
text-decoration: underline;
}



.sectioncercati /*cercati*/ {
text-align: center;
margin-top: 40px;
} 

@media screen and (max-width: 768px) { 
.container {
font-size: 14px !important;
max-width: 1489px !important;
}  
}



.sectiondocumenti /*documentazione*/ {
padding-top: 30px;
}

h4 {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: large;
color: white;
text-decoration: underline;
} 

h5 {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: large;
color: white;
text-decoration: underline;
}

.sectionabstract {
padding-top: 30px;
}

.textabstract {
font-family: 'Crimson Text', serif;
font-weight: 400;
color: white;
font-size: large;
line-height: 35px;
word-spacing: 5px;
padding-top: 10px;
}

.sectionbench {
padding-top: 25px;
}

.sectionobiettivi {
padding-top: 20px;
}

.ul-doc {
padding-left: 20px;
}

.imgstruttura {
padding-top: 20px;
width: 500px;
height: auto;
}

.carousel-docu {
  padding-top: 20px;
  width: 500px;
  height: auto;
  }
